body {
    background-color: #eaf4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 500px;
    border: 0px solid;
    box-shadow: 0 4px 8px 0 grey;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

input, button {
    height: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.2rem;
}

input  {
    border: none;
    border-bottom: 1px solid grey;
}

button {
    color: white;
    background-color: #3598db;
    border: none;
    margin=top: 45px;
}

h1, button {
    text-transform: uppercase;
}

a {
    position: absolute;
    right: 436px;
    top: 350px;
    color: grey;
    text-decoration: none;
}

h3 {
   font-style: italic;
}